In [15]:
import numpy as np
import pandas as pd
from msmarco.index import indexed

NUM_QUERIES = 50

In [2]:
# Will take a min or two to load, and a good hour to build an index first time
msmarco = indexed()

In [3]:
tokenizer = msmarco['body_idx'].array.tokenizer
from time import perf_counter

def or_query_search(query, query_id=None, n=100):
    start = perf_counter()
    tokens = tokenizer(query)
    scored = np.sum([msmarco['body_idx'].array.score(token) for token in tokens], axis=0)
    took = perf_counter() - start
    
    top_n_idx = np.argsort(scored)[::-1][:n]
    scores = scored[top_n_idx]
    top_n_idx, scores

    top_n = msmarco[['title', 'msmarco_id']].iloc[top_n_idx]
    top_n['scores'] = scores
    top_n['query'] = query
    top_n['query_id'] = query_id
    top_n['took'] = took
    top_n['rank'] = np.arange(n) + 1
    return top_n

or_query_search("cheese inside")

,title,msmarco_id,scores,query,query_id,took,rank
2301803,50 Panini,D491358,5.803620,cheese inside,None,0.03878,1
2044174,How To Make Twice-Baked Potatoes,D2419893,5.689438,cheese inside,None,0.03878,2
238792,.,D2613852,5.653761,cheese inside,None,0.03878,3
1365175,How many white foods and drinks can you name?,D3539166,5.648460,cheese inside,None,0.03878,4
2833655,Comfort food: Fried cheese recipes,D2396182,5.642127,cheese inside,None,0.03878,5
...,...,...,...,...,...,...,...
2330536,Can You Freeze Cream Cheese Frosting?,D3064354,5.257333,cheese inside,None,0.03878,96
1402971,Food Storage - How long can you keep...,D2766710,5.256273,cheese inside,None,0.03878,97
1579828,.,D2039867,5.256127,cheese inside,None,0.03878,98
1954062,How long does mozzarella cheese stay good once...,D2293852,5.255137,cheese inside,None,0.03878,99
2579816,Spicy & Sweet Cheese-Stuffed Meatballs Are Fla...,D2795465,5.254308,cheese inside,None,0.03878,100

In [5]:
from msmarco.evaluate import grade_results, judgments

msmarco_judgments = judgments().sample(NUM_QUERIES)

In [6]:
results = []

for idx, row in msmarco_judgments.iterrows():
    top_n = or_query_search(query=row['query'], query_id=row['query_id'])
    results.append(top_n)

In [7]:
results_df = pd.concat(results)
results_df

,title,msmarco_id,scores,query,query_id,took,rank
2980446,Plant Spacing,D2571034,14.488810,how far apart do you plant apple trees?,3599,0.173555,1
135861,Plant Spacing,D2468577,14.488810,how far apart do you plant apple trees?,3599,0.173555,2
2166909,Plant Spacing,D1349111,14.488810,how far apart do you plant apple trees?,3599,0.173555,3
2990535,Plant Spacing,D2689495,14.488810,how far apart do you plant apple trees?,3599,0.173555,4
1975353,Plant Spacing,D1988646,14.488810,how far apart do you plant apple trees?,3599,0.173555,5
...,...,...,...,...,...,...,...
2438137,About The 1946 D Wheat Penny,D468835,6.500823,1964 penny value,776,0.049639,96
1487479,How to Make Money off of Copper Pennies,D1765983,6.494459,1964 penny value,776,0.049639,97
2983354,How Much Is a 1936 Penny Worth?,D1463149,6.484992,1964 penny value,776,0.049639,98
1124614,Old Copper Pennies: Which Ones To Save & What ...,D1461790,6.463014,1964 penny value,776,0.049639,99
781643,Lincoln Penny Value is Amazing for the Right Coin,D813774,6.460083,1964 penny value,776,0.049639,100

In [16]:
graded = grade_results(msmarco_judgments, results_df)
graded[graded['rank'] <= 100].groupby('query_id')['reciprical_rank'].max().sum() / NUM_QUERIES

0.23342281213637658

In [17]:
graded.sort_values('took', ascending=False)

,title,msmarco_id,scores,query_x,query_id,took,rank,q0,grade,query_y,reciprical_rank
22,Leachate,D238303,15.823506,define the term leachate. where does it origin...,2685,0.340442,1,0,1,define the term leachate. where does it origin...,1.000000
19,Glossectomy,D2975099,16.018728,a hemiglossectomy is the surgical excision of ...,1791,0.267291,3,0,1,a hemiglossectomy is the surgical excision of ...,0.333333
2,Second Great Awakening,D1338391,16.512806,how did the second great awakening influence t...,3459,0.258079,12,0,1,how did the second great awakening influence t...,0.083333
5,.,D2662079,10.601771,a chemical in groundwater that causes cancer i...,1770,0.206866,27,0,1,a chemical in groundwater that causes cancer i...,0.037037
0,How Far Apart Should Apple Trees Be to Cross-P...,D1349110,13.898209,how far apart do you plant apple trees?,3599,0.173555,7,0,1,how far apart do you plant apple trees?,0.142857
23,Trade name,D783465,10.558008,commercial name for a drug; trademark or trade...,2544,0.172785,38,0,1,commercial name for a drug; trademark or trade...,0.026316
7,.,D2937374,19.220474,i reset my password and now cant trade steam,4406,0.159368,1,0,1,i reset my password and now cant trade steam,1.000000
11,Softball,D404132,14.264502,how many innings are usually played for softball,3831,0.149567,19,0,1,how many innings are usually played for softball,0.052632
10,What are some examples of commodity money?,D357539,6.977769,.which is an example of a commodity,415,0.145351,13,0,1,.which is an example of a commodity,0.076923
17,Gigabyte HD 7870 2GB Graphic Card GV-R787OC-2GD,D2466702,19.736467,2gb graphic card for pc price in pakistan,1180,0.136721,1,0,1,2gb graphic card for pc price in pakistan,1.000000
26,ROSE Procedure - Gastric Bypass Revision,D249108,18.120480,how much does a incisionless revisional surger...,3916,0.135144,1,0,1,how much does a incisionless revisional surger...,1.000000
8,How many grams are in a cup?,D909703,11.587317,1 cup measure is how many grams,457,0.123709,28,0,1,1 cup measure is how many grams,0.035714
14,What is the significance of plasmids for bacte...,D2482440,12.034217,determine the significance of plasmids for bac...,2718,0.121917,7,0,1,determine the significance of plasmids for bac...,0.142857
24,Married Julia Roberts and Danny Moder Divorce:...,D109417,11.088326,is julia roberts getting a divorce,4652,0.120155,1,0,1,is julia roberts getting a divorce,1.000000
9,How many kgs are in 145 pounds?,D60064,10.108210,145 kilos in stones and pounds,677,0.102687,22,0,1,145 kilos in stones and pounds,0.045455
12,7 quarts is how many fluid ounces?,D2695259,12.928228,.7 quarts is how many ounces,387,0.101308,1,0,1,.7 quarts is how many ounces,1.000000
21,Mumbai to Aurangabad by Road,D1467163,8.762476,distance between mubai and aurangabad,2764,0.095588,16,0,1,distance between mubai and aurangabad,0.062500
18,Caffeine Addiction Diagnosis,D2081779,10.153814,how is caffeine addiction diagnosed,3614,0.093533,11,0,1,how is caffeine addiction diagnosed,0.090909
1,7 Healthy Snacks at Work,D2984215,7.666252,best healthy snacks for work,2228,0.084954,49,0,1,best healthy snacks for work,0.020408
20,Does Drinking Milk Cause Weight Gain?,D1338462,10.381778,2% milk calories per glass,857,0.083099,47,0,1,2% milk calories per glass,0.021277
28,Biography,D2259747,14.535670,how did george peppard die,3359,0.077556,2,0,1,how did george peppard die,0.500000
6,Kilograms to Pounds Conversion,D2885936,10.231260,1888 kg to lb,752,0.071618,4,0,1,1888 kg to lb,0.250000
27,How to Compare Schools,D2779962,6.650142,+what is an acde?,252,0.069475,84,0,1,+what is an acde?,0.011905
13,.,D2757965,7.841752,118 area code location,612,0.062211,7,0,1,118 area code location,0.142857
15,Behavioral and Cognitive Psychology,D164705,10.480028,cognitive behavioral psychology definition,2528,0.060839,87,0,1,cognitive behavioral psychology definition,0.011494
16,California Tribal Communities,D720968,11.395775,california recognized indian tribes,2373,0.057978,12,0,1,california recognized indian tribes,0.083333
4,.,D1870683,10.024672,atticus name meaning,2106,0.053961,1,0,1,atticus name meaning,1.000000
25,Specifications for the 1989 Seadoo 587 Jet Ski,D2974727,14.484333,1989 seadoo specs,804,0.051141,1,0,1,1989 seadoo specs,1.000000
29,1964 Lincoln Penny,D2806155,10.089905,1964 penny value,776,0.049639,2,0,1,1964 penny value,0.500000
3,Esophageal Ulcer Symptoms,D1034274,12.183433,esophageal ulcer symptoms,2927,0.049407,1,0,1,esophageal ulcer symptoms,1.000000